.image-uploader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.dropzone {
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.upload-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-message p {
  margin-bottom: 10px;
}

.selected-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}